body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #90949C;
  }
  
  .conteiner {
    display: grid; 
    grid-auto-flow: column dense; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 2.3fr 0.4fr; 
    gap: 0em 3em; 
    grid-template-areas: 
      "."
      "."
      "."; 
    justify-content: space-evenly; 
    align-content: stretch; 
    justify-items: center; 
    align-items: stretch; 
    width: 350px; 
    height: 500px; 
    background-color: white;
    border-radius: 20px;
  }
  
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
  }
  
  .fotter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
  }
  
  button {
    background-color: rgb(41, 128, 185);
    color: #E9EBEE;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  
  .content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  
  .message, p {
    font-family: "Roboto";
    margin-bottom: 5px;
  }
  
  .date {
    color: gray;
  }
  
  .name {
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    bottom: 15%;
  }
  
  .message {
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 0.7rem;
    position: relative;
  }
  
  .theres {
    left: 70%;
    background-color: #00B2FF;
  }
  
  .ours {
    right: 65%;
    background-color: #E9EBEE;
    color: black;
  }
  
  input {
    background-color: #E9EBEE;
    border: none;
    border-radius: 20px;
    padding: 5px;
  }

  /* contact list */

  .contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5px;
  }

  .contact div{
    color: #E9EBEE;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(31, 97, 141);
    width: 80%;
    text-align: center;
    margin: 5px;
    transition: width 0.250s, padding 0.250s;
    transition-timing-function: ease-in-out;
  }

  .contact div:hover{
    width: 85%;
    padding: 12px;
    cursor: pointer;
    transition: width 0.5s, padding 0.5s;
    transition-timing-function: ease-in-out;
  }